<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Animal Disease</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body style="background: url(/images/nosemask.jpg); width:100vw; height:100vh; background-size:cover; background-repeat: no-repeat; background-attachment: fixed;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin">Agro-Care</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">

              <%if (status == 'adminLoggedIn'){%>
                <li class="nav-item"><a class="nav-link" href="/admin">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/adminanimal">Animals Diseases & Symptoms</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/adminplant">Plants Disease & Symptoms</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/addplant">Add Plant Disease & Symptoms</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
              <%}else{%>
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
              <%}%>
            </ul>
          </div>
        </div>
      </nav>

   
      <div class="container my-5">
        <div class="card" style="width: 100%; opacity: 0.7">
            <div class="card-body">
              <h5 class="card-title">Enter Animal Disease Details</h5>
              <form id="form" onsubmit="return false;">
            <div class="mb-3">
                <label for="plantId" class="form-label"></label>
                <input type="hidden" name="plantId" class="form-control" value="<%= result.id%>" id="plantId" aria-describedby="emailHelp" autocomplete="off" required>
              </div>
                <div class="mb-3">
                  <label for="disease" class="form-label">Disease</label>
                  <input type="text" name="disease" class="form-control" value="<%= result.disease%>" id="disease" aria-describedby="emailHelp" autocomplete="off" required>
                </div>
                <div class="mb-3">
                  <label for="symptom" class="form-label">Symptom</label>
                  <input type="text" class="form-control" name="symptom" value="<%= result.symptom%>" id="symptom" aria-describedby="emailHelp" autocomplete="off" required>
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Image</label>
                  <input type="text" class="form-control" name="image" value="<%= result.image%>" id="image" aria-describedby="emailHelp" autocomplete="off" required>
                </div>
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a comment here" name="description" id="description" style="height: 100px"><%= result.description%></textarea>
                  <label for="description">Description</label>
                </div><br>
                <div class="form-floating">
                  <textarea class="form-control" name="causes" placeholder="Leave a comment here" id="causes" style="height: 100px"><%= result.causes%></textarea>
                  <label for="causes">Causes</label>
                </div><br>
                <div class="form-floating">
                  <textarea class="form-control" name="prevention" placeholder="Leave a comment here" id="prevention" style="height: 100px"><%= result.prevention%></textarea>
                  <label for="prevention">Prevention</label>
                </div><br>
                <div class="form-floating">
                  <textarea class="form-control" name="treatment" placeholder="Leave a comment here" id="treatment" style="height: 100px"><%= result.treatment%></textarea>
                  <label for="treatment">Treatment</label>
                </div><br>

                <div class="alert alert-danger" role="alert" id="error" style="display: none;"></div>
                <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>
                <button type="submit" class="btn btn-lg btn-success">ADD</button>
              </form>
            </div>
          </div>
      </div>
      <script src="../../../js/updateplant.js"></script>
</body>
</html>